body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-size: 32px;
  font-family: Palatino, "platino Linotype", serif;
color: rgb(46,105,163);
	font-size: 32px;
}

h2 {
	font-size: 56px;
}


.hero {
  font-family:"Trebuchet MS",Helvetica, sans-serif;
	padding: 250px 0;
	margin: 30px;
}


p {
  font-size: 2rem;;
  text-decoration: none;

}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}
